{% extends "client/base.html" %}
{% block content %}
<h1>Account Info</h1>
<table class="table">
    <tbody>
        <tr>
            <th scope="col">Account number</th>
            <td>{{ account.account_number }}</td>
        </tr>
        <tr>
            <th scope="row">Balance</th>
            <td>{{ account.balance }}</td>
        </tr>
        <tr>
            <th scope="row">Currency</th>
            <td>{{ account.currency }}</td>
        </tr>
        <tr>
            <th scope="row">Account type</th>
            <td>
                {% if account.account_type == '0' %}
                Normal account
                {% elif account.account_type == '1' %}
                Saving account
                {% else %}
                Credit account
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Transaction limit</th>
            <td>{{ account.transaction_limit }}</td>
        </tr>
        <tr>
            <th scope="row">Is active?</th>
            <td>
                {% if account.is_active == 1 %}
                True
                {% else %}
                False
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Creation date</th>
            <td>{{ account.creation_date }}</td>
        </tr>
    </tbody>
</table>
<h2>Card list</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Card number</th>
            <th scope="col">Transaction limit</th>
            <th scope="col">Contactless payments?</th>
            <th scope="col">Is active?</th>
        </tr>
    </thead>
    {% for card in cards %}
    <tbody>
        <tr>
            <th scope="row">
                <a class="navbar-link" href="{% url 'card' oid=account.id coid=card.id %}">
                    {{ card.card_number }}
                </a>
            </th>
            <td>{{ card.transaction_limit }}</td>
            <td>
                {% if card.is_nfc == '0' %}
                Enabled
                {% else %}
                Disabled
                {% endif %}
            </td>
            <td>
                {% if card.is_active == '0' %}
                True
                {% else %}
                False
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-group">
    <a href="{% url 'transaction_history' oid=account.id %}" class="btn btn-default" type="button">
        Transaction history
    </a>
    <a href="{% url 'make_transaction' oid=account.id %}" class="btn btn-default" type="button">
        Make transaction
    </a>
    <a href="{% url 'order_card' oid=account.id %}" class="btn btn-default" type="button">
        Order card
    </a>
</div>
{% endblock %}